/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_directory .
 *= require_self
 */

$primary-color: #3f51b5;

h2, header { margin: 0; }
img {vertical-align: middle;}

ul {
    padding: 0;
    margin: 0;
}

#panel header {
    background: $primary-color;
    color: #feffde;
    padding: 0.5em 1em;
}

ul.collection > li {
    border-bottom: 1px solid #c5cae9;
    list-style: outside none none;
    padding: 0 1em;
}

a {
  color:$primary-color;
}

.alert{
  padding: 10px 20px;
  margin: -10px -20px;
}
.alert-success{ background: #81C784;}
.alert-info {background: #9fa8da;}
.alert-warning {background: #ffb74d;}
.alert-danger{ background: #f3989b;}