div.smallcard, ul.smallcard > li {
    background: #FFF;
    border: 1px solid #AAA;
    border-radius: 2px;
    padding: 0.5em;
    font-size: 1em;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.26);
}

.smallcard:hover, .card:hover {
    background: #feffde;
}

.smallcard ul {
    list-style: outside none none;
}
div.smallcard .alert, ul.smallcard > li .alert {
    border: 1px solid transparent;
    border-radius: 0;
    margin: -0.5em;
    padding: 1em;
}
.card {
    background: #FFF;
    border: 1px solid #AAA;
    border-radius: 2px;
    padding: 16px;
    font-size: 1em;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    margin: 1em;
}

.card .card {
    padding: 8px;
    margin: 4px;
}

.sidebar-nav {
    background-color: #9fa8da;
}