html {
    min-height: 100%;
    position: relative;
}
body {
    margin-bottom: 4.5em;
}
.footer {
    background-color: #f5f5f5;
    bottom: 0;
    height: 4em;
    position: absolute;
    width: 100%;
}
body > .container {
    padding: 4em 1em 0;
}
.container .text-muted {
    margin: 20px 0;
}
.footer > .container {
    padding-left: 1em;
    padding-right: 1em;
}
code {
    font-size: 80%;
}

.navbar-static-top{
    position: absolute;
    width:100%;
}