$left_col_w: 155px;
$dark_red: #CC0000;

.simple_form {
  .input {
    margin-bottom: 10px;

    label {
      display: inline-block;
      width: $left_col_w - 15;
      margin-right: 5px;
      background-color: #f3f3f3;
      padding: 5px;
      font-size: 95%;
    }
    label.boolean {
      display: block;
      height: 20px;
    }
    /* lots of inconsistencies in browsers styling this element */
    input.boolean {
      display: block;
      height: 20px;
      margin-left: 155px;
      margin-bottom: -25px;
      width: 45px;
    }
    label.collection_check_boxes {
      display: inline;
      background-color: transparent;
    }
    input {
      width: 275px;
    }
    textarea {
      height: 200px;
      vertical-align: top;
      width: 275px;
      padding: 2px;
    }
    textarea.short {
      height: 100px;
    }
    .hint {
      display: block;
      margin-left: $left_col_w;
      font-size: 85%;
      color: gray;
      font-style: italic;
    }
    .error {
      color: $dark_red;
      display: block;
      margin-left: $left_col_w;
    }
    abbr {
      border-bottom: 0;
      color: orange;
    }

  }
  .actions {
    margin: 10px 0;
  }
  .input.field_with_errors {
    /* overwrites standard rails form validation css */
    display: block;
    background-color: transparent;
  }

}

.form_section {
  padding: 15px;
  background-color: #f3f3f3;
}